@{
    ViewData["Title"] = "Home Page";
}


<p>
    Поточний час на сервері: <strong>@ViewData["TimeMessage"]</strong>
</p>

<p>6 + 2 = @ViewData["AddResult"]</p>
<p>6 - 2 = @ViewData["SubtractResult"]</p>
<p>6 * 2 = @ViewData["MultiplyResult"]</p>
<p>6 / 2 = @ViewData["DivideResult"]</p>

